//Imports
@import "navigation";

//Colors
$background-color : #333333;
$blue : #28add6;


//Generall styles

//Spacing
.mt-6 {
    margin-top: 5rem;
}


//Colors
.background-color {
    background-color: $background-color;
}

.white {
    color: white;
}



