<!DOCTYPE html>
<html>
    <head>
        <title>Jacob Richardson</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!-- Implement Navigation -->